export  ADDR=":3001"
export DB_ADDR="postgres://admin:1234@localhost/social?sslmode=disable"
export EMAIL_API_KEY="re_oJ5dfMhR_6MSRJ8omE1MYVLEcrKpToQDS"
export FROM_EMAIL="support@bloggerspot.xyz"
export CLOUDINARY_URL="CLOUDINARY_URL=cloudinary://929553864915697:wy6A7hQW_2U6f2PkPuqV2mJwLSo@di3ykiova"
export FRONTEND_URL=""